"*":
  "atom-beautify":
    python:
      max_line_length: 100
      sort_imports: true
  "atom-latex":
    preview_after_build: "View in PDF viewer tab"
  "atom-python-test":
    additionalArgs: "-v"
    outputColored: true
  "atom-test-runner":
    pythonAllCommand: "pytest {relative_path}"
  "autocomplete-python":
    useKite: false
  core:
    customFileTypes:
      "source.yaml": [
        "MLProject"
      ]
    disabledPackages: [
      "metrics"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "file-types":
    MLProject: "source.yaml"
  "fuzzy-finder": {}
  "language-babel":
    autoIndentJSX: true
    suppressTranspileOnSaveMessages: false
  latex:
    buildOnSave: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-pylint":
    disableTimeout: true
  "linter-shellcheck":
    enableNotice: true
    userParameters: "-x"
  "linter-ui-default":
    showPanel: true
  "markdown-pdf": {}
  "one-dark-ui": {}
  script:
    ignoreSelection: true
  "spell-check":
    addKnownWords: true
    excludedScopes: [
      ".support.function.tex"
      "storage.type.function.latex"
      "keyword.control.[a-z]+.latex"
      "support.function.[a-z]+.latex"
    ]
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
      "text.tex.latex.beamer"
    ]
    locales: [
      "en-US"
    ]
  "status-bar": {}
  tabs:
    enableMruTabSwitching: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "tex"
    ]
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".css.source.styled":
  editor:
    preferredLineLength: 100
".editorconfig.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
    showIndentGuide: true
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 100
